<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lin.mapper.UserMapper">

    <select id="loadUserByUsername" resultType="com.lin.entity.User">
        select *
        from user
        where username = #{username}
    </select>


    <select id="getRolesByUid" resultType="com.lin.entity.Role">
        select r.id, r.name, description, is_system_role
        from role r,
             user_role ur
        where r.id = ur.role_id
        and ur.user_id = #{uid}

    </select>

    <!--这边下面的是测试教师对应角色的-->
    <select id="getUserList" resultType="com.lin.domain.vo.UserVo">

        select u.id, username
        from user u , user_role ur
        where
              u.id = ur.user_id
          and ur.role_id = #{id}
    </select>



</mapper>
